
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container w-50">
    <div class="content-inner active" style="display: block;">
        <div class="inner max-width-83 padding-top-33">

            <br />
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Info</h3>
                <br />
                <h2>You are already logged in.</h2>
                <hr />
            </div>
<div class="margin-top-49 mt-5 p-5">

</div>
            <br />
            <hr />
            </div>
        </div>
    </div>

