@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="title-section">
                <h2 class="title">
                    @ViewBag.Title
                </h2>
                <hr />
            </div>
            <address>
                304 ,Aster Blossam Aura ,<br />
                College Road ,Nadiad<br />
                <abbr title="Phone">P:</abbr>
                +91 97698430164
            </address>
            <br />
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
            <br />
        </div>
        </div>
    </div>