
@{
    ViewBag.Title = "MyOrders";
}

<section class="flat-row shop-detail-content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-tabs style-1 has-border">
                    <div class="inner">
                        <ul class="menu-tab orderstatus">
                            <li class="active" id="pending">Pending</li>
                            <li id="inprogress">In Progress</li>
                            <li id="previous">Previous</li>
                            <li id="cancelled">Cancelled</li>
                        </ul>
                        <div class="content-tab orderlist">
                              @{Html.RenderAction("Orderlist", "Home", new {status = "pending" });}
                        </div>
                </div>
            </div>
        </div>
    </div>
        </div>
     <div class="margin-top-49 mt-5 p-5">
          <div class="margin-top-38 mt-1">
</div>
</div>
</section><!-- /.shop-detail-content -->

@section Scripts{
    <script>
        $(".orderstatus li").on("click", function () {
            var status = $(this).attr("id");
            $.ajax({
                url: '/Home/Orderlist/',
                data: {
                    status: status
                }
            }).done(function (response) {
               
                $(".orderlist").html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
            });
        });
    </script>
    }
