@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="btn-group">
        <li type="button" style="font-size:15px;" class=" fa fa-user btn btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </li>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
            <a href="@Url.Action("Index","Manage")"><li class="dropdown-item">Profile</li></a>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <li class="dropdown-item">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    <li title="Logout">
                        Signout
                    </li>
                }
                    </li>
                </a>

                </div>
    </div>
    
}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
    <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    @*</ul>*@
}
