@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container w-50">
    <div class="content-inner active" style="display: block;">
        <div class="inner max-width-83 padding-top-33">

            <br />
            <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading">Error</h3>
                <hr />
                <h2 class="text-danger">An error occurred while processing your request.</h2>
            </div>
<div class="margin-top-49 mt-5 p-5">

</div>
            <br />
            <hr />
            </div>
        </div>
    </div>